body{
    margin: 0;
    background-color: #552583;
    color: #FDB927;
}

a {
    color: #FDB927;
}
a:hover{
    color: white;
}

header h1{
    font-weight: 900;
}

header {
    text-align: center;
    border-bottom: 4px solid #FDB927;
}

#img-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

#img-div img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

section {
    text-align:center;
    width: 80%;
    margin: 0 auto 10px auto;
    max-width: 700px;
}

.list-title{
    padding-bottom: 10px;
}

section> ul{
    display: inline-block;
}

li{
    font-size: 25px;
    text-align: left;
    margin-bottom: 10px;
}

.bold{
    font-weight:800;
}